<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
		NITHIN SALLAGONDA
    </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="nithin.css">
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="calculation.js"></script>
	</head>
<body class="container-fluid" >
  <div class="container">
	<div class="col-md-12">
		<img src="ni.jfif" alt="Nithin" class="img-circle"  width="200" >
	  </div></div>

    <div class="col-md-12">
		
		<nav class=" navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nithin Sallagonda</a>
	  </div>
    <ul class="nav navbar-nav">

      <li ><a href="/">nithin</a></li>
      <li class="active"><a href="Calculation">Calculation</a></li>
      <li><a href="contactinformation">Contact information</a></li>
      <li><a href="guestbook">guestbook</a></li>
		
		
	  </ul>
			</div>	  </nav>
			</div>
	
		

		
			<h1>Average of two numbers</h1>
			<h2>Enter the first number</h2>
			<input type="text" id="one">
			<h2>
				Enter the 2nd number
			</h2>
			<input type="text" id="two"><br><br>
	
			<input type ="button" onclick="average()"value="average"><br><br>
			<p id="in" style="width:20%"></p>
			<input type="text" id ="avg">

			
			
		
		
		
		
		
		
		
		
		
	
	</body>
</html>