<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
		NITHIN SALLAGONDA
		</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="nithin.css">
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery-3.3.1.min.js"></script>
	</head>
<body class="container-fluid" >
  <div class="container">
	<div class="col-md-12">
		<img src="ni.jfif" alt="Nithin" class="img-circle"  width="200" >
	  </div></div>

    <div class="col-md-12">
		
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nithin Sallagonda</a>
	  </div>
    <ul class="nav navbar-nav">

				<li ><a href="/">nithin</a></li>
				<li ><a href="Calculation">Calculation</a></li>
				<li class="active"><a href="contactinformation">Contact information</a></li>
				<li><a href="guestbook">guestbook</a></li>

			<li>	<a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
			<li> <a href="https://github.com/" class="fa fa-github"></a></li>
			<li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
			<li><a href="https://bitbucket.org/" class="fa fa-bitbucket"></a></li>

		
	  </ul>
			</div>	  </nav>
			</div>
	
		
		
		
			<form action="/action_page.php">
	
				<label form="Name">Name:</label>
					<input type="User Name" class="form-control" id="Name">
				
				<label form="Phone number">Phone number:</label>
					<input type="Phone number" class="form-control" id="phone number">
			
			<label for="Address">Address:</label>
					<input type="Address" class="form-control" id="Address">
		
					<label for="Email Address">Email Address:</label>
					<input type="Email Address" class="form-control" id="Email Address">
					<button type="Submit" class="btn btn-default">Submit</button>
			
			
			</form>	
		
		
		
		
		
		
		
		
		
		
	
	</body>
</html>