<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>A03Sallagonda Guestbook</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
  <link rel="stylesheet" href="/guestbook.css">
</head>

<body class="container">
  <nav class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Nithin Sallagonda</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/">nithin</a>
        </li>
        <li>
          <a href="Calculation">Calculation</a>
        </li>
        <li>
          <a href="contactinformation">Contact information</a>
        </li>
        <li class="active">
          <a href="guestbook">guestbook</a>
        </li>


      </ul>
    </div>
  </nav>
  <h1>
    Guestbook Nithin
    <a href="/new-entry" class="btn btn-primary pull-right">
      Write in the guestbook
    </a>
  </h1>